
//variables
$primary-color: "";
$primary-font-family: "";
$primary-font-size: "";
$primary-font-weight: "";
$primary-background-color: "";

// secondary variables
$secondary-color: "";
$secondary-font-family: "";
$secondary-font-size: "";
$secondary-font-weight: "";
$secondary-background-color: "#0000";
